@import "./assets/css/reset.css";
@import url("https://fonts.googleapis.com/css?family=Muli");

body {
  font-family: "Muli", sans-serif;
}

.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
h1 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600px;
  padding: 5px 0 0 20px;
  margin-bottom: 20px;
  height: 30px;
  width: 320px;
  border-radius: 0 30px;
  background-color: rgb(109, 189, 28);
}
ul {
  list-style: none;
  padding: 5px 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.puce {
  font-size: 18px;
  color: grey;
  cursor: pointer;
}
.item {
  font-size: 14px;
  cursor: default;
}
.strike {
  text-decoration: line-through;
}
input {
  height: 40px;
  width: 300px;
  font-size: 14px;
  border: solid 1px rgb(109, 189, 28);
  border-radius: 5px;
  padding: 0px 20px;
  margin: 0 20px 20px 0;
  outline: none;
}
button {
  font-size: 14px;
  height: 42px;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(109, 189, 28);
}
